@use '../../styles/globals' as *;

.header {
  background-color: $primary-color;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.nav {
  display: flex;
  gap: 2rem;
  
  a {
    color: white;

    
    &:hover {
      opacity: .6;
      // text-decoration: underline;
    }
  }
}