.header-menu a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.2em;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}

h1.page-title {
  margin-bottom: 0rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 32px;
}