@use '../styles/globals' as *;

.homeSpan {
  display: block;
  font-size: .5em;
  font-weight: 800;
}

.catch {
  margin-top: 2em;
  line-height: 1;
  text-align: center;
  color: #777;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 2em;
}